<div th:fragment="navbar" class="w-64 bg-green-600 text-white flex flex-col min-h-screen">
    <div class="p-6 text-2xl font-bold border-b border-green-700 font-sans tracking-wide" style="text-align: center; padding-top: 18px;">BlogSport
        <img src="/images/blogsportlogo.png" alt="Logo">
    </div>
    <nav class="flex-1 p-4">
        <!-- <a href="/account" class="block mt-6 py-2 px-2 hover:bg-green-700 rounded">My Account</a> -->
        <div class="text-lg font-semibold mb-4" style="margin-bottom: 10px; margin-left: 5px; font-size: large;">
            Categories:</div>
        <div>
            <div th:replace="fragments/sidebarCategoriesList :: sidebarCategoriesList"></div>
        </div>
    </nav>
</div>