<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">BlogSport</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.4.1/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tailwind.css">
</head>

<body class="bg-white min-h-screen flex">
    <!-- Sidebar navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>
    <!-- Main content area -->
    <div class="flex-1 flex flex-col">
        <!-- Top bar -->
        <div th:replace="fragments/topbar :: topbar"></div>
        <!-- Dynamic page content -->
        <main class="p-6">
            <div th:fragment="content">
                <!-- Default content can be empty -->
            </div>
        </main>
    </div>
</body>

</html>