<div th:fragment="sidebarCategoriesList">
    <ul class="space-y-4">
        <li th:each="category : ${sidebarCategories}" class="rounded-lg p-4 shadow border border-white"
            style="list-style: none;">
            <div class="flex items-center justify-between">
                <p class="text-lg font-semibold" th:text="${category.name}">Category Name</p>
                <a th:href="@{/categories/{id}(id=${category.id})}"
                    class="text-xs text-green-200 hover:underline ml-2">See all</a>
            </div>
            <!-- Category posts will be loaded here -->
            <ul class="mt-3 space-y-1 pl-4 list-disc list-inside" style="list-style-type: disc; padding-left: 1.15em;">
                <li th:each="post : ${category.recentPosts}">
                    <a th:href="@{/posts/{id}(id=${post.id})}" class="hover:underline" th:text="${post.title}">Post
                        Title</a>
                </li>
            </ul>
            <div th:if="${#lists.size(category.recentPosts) == 5}" class="mt-2">
                <a th:href="@{/categories/{id}(id=${category.id})}" class="hover:underline">See more</a>
            </div>
        </li>
    </ul>
</div>