<div th:fragment="adminSidebar" class="w-64 bg-green-600 text-white flex flex-col min-h-screen z-50 font-bold border-b border-gray-200 font-sans" style="background-color: rgb(206, 10, 10);">
    <div class="p-6 font-bold text-xl border-b border-gray-200">Administration</div>
    <ul class="mt-4 p-6 space-y-4 px-6" style="padding-left: 15px; font-size: 17px;">
        <li><a href="/account" class="hover:underline">🛠 Admin Home</a></li>
        <li><a href="/admin/categories" class="hover:underline">📁 Category Management</a></li>
        <li><a href="/admin/users" class="hover:underline">👥 Account Management</a></li>
    </ul>
</div>